body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.6em;
}

h1,h2,h3,h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 22px;
  color: #00698F;
}

h2 {
  font-weight: lighter;
  font-size: 18px;
  color: #7D7D7D;
}

h3 {
  font-size: 16px;
  color: #7D7D7D;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #00698F;
}

p {
  color: #7D7D7D;
}

ul {
  display: block;
}

li {
  display: inline-block;
}

ul li p:hover {
   color: #00698F;
}


.table-padded h3 {
  text-align: left;
  font-weight: 300;
}

.table-padded td {
  padding: 10px;
}

.table-padded p {
  text-align: justify;
}

.table-padded img {
  opacity: 0.85;
  width: 120px;
}

.container {
  width: 60vw;
  min-width: 320px;
  margin: 0px auto;
}

.card {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 50px;
  background: white;
}

.img-circle {
  border-radius: 50%;
}

.avatar-small {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0px;
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.vertical-list {
  padding-left: 0px;
  list-style: none;
}

.vertical-list > li {
  display: list-item;
  text-align: center;
  margin-top: 150px;
}

.fa {
  font-size: 25px;
}

.btn-blue {
  background: #00698F;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
}

.btn-blue:hover {
  background: #078bb7;
  color: white;
}

.bold {
  font-weight: bold;
}

#sidebar {
  position: fixed;
  width: 50px;
  left: -0px;
  top: 0;
  bottom: 0;
  background: #00698F;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
#sidebar .fa {
  color: white;
  transition: .1s;
}
#sidebar .fa:hover {
  transform: scale(1.1,1.1);
}
#page-content {
  margin-left: 300px;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .table-padded img {
    display: none;
  }

  .table-padded td {
    padding: 0px;
  }

  .card {
    padding: 15px;
  }

  #sidebar {
    display: none;
  }

  #page-content {
  margin-left: 0px;
  }

}
